#wrapper 
  %h3 About Site Monitor

  %p Site Monitor is a web application intended for the use of monitoring a collection of websites response times. It is fairly easy to use and even in this early development version it is reasonably stable. 

  %p I have to warn you that this software is 'untested', so who knows what could happen. Eventhough its impossible for all your websites to be brought down by Site Monitor it could lead to monumentus spamming to your email address. You have been warned, so use with caution.  

  %br 

  %h4 How to use: 

  Its simple really. 

  %h5 Step one:
  %p Go to www.site-monitor.co.uk and create an account with us by signing up!

  %h5 Step two:
  %p Once signed up and signed in, add a new site by clicking the 'new site' button in the left hand corner. 

  %h5 Step three:
  %p Enter the details of the website you want to add, the response interval should be formatted like this: '1m' for 1 minute, '1h' for 1 hour, '1d' for 1 day, and so on. Also make sure monitoring is checked so that the website is being monitored straight away.

  %h5 Step four: 
  %p Go to the homepage and simply click on a site to review the data you've collected. 

  / %p Site monitor was created to fulfill a need at the company I work at. It was intended as a small project to ease me into developing my skills as a Ruby on Rails developer. 