#wrapper 
  %h3 Support

  %p If you need support or would like to suggest a new feature please contact me (the developer) on:
  %br 
    tom.chinery@paymentcardsolutions.co.uk
  %br
  %br 
  %p For bug reporting please take a screenshot of the bug in action, and add a short description of how you found it and I'll work quickly to get it resolved.

  / %p Site monitor was created to fulfill a need at the company I work at. It was intended as a small project to ease me into developing my skills as a Ruby on Rails developer. 