!!!
%html
  %head
  %body
    %h1 Your site @request.site.url is returning an unexpected HTTP code.
    %p
      HTTP Code: @request.code
      HTTP Message: @request.message
      %br
    %p
    %p If this is an accepted HTTP code please add it to the accepted list here: 