/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require rickshaw
 */
@import "twitter/bootstrap";

/* General styling */

body {
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  color: #646464;
  font-size: 13px;
  background-color: #EBEBEB;
  line-height: 18px;
}

h1, h2, h3 {
  margin:0 0 10px 0;
}

.container {
	background-color: #fff;
	width: 960px;
	min-height:400px;
	border: 1px solid #D4D4D4;
}

.navbar {
	background-color: #5D9CC7;
	min-height:67px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.navbar-brand, .navbar-brand > a{
	height:50px;
	padding-top:18px;
	color: #fff;
	&:visited {
		color: #fff;
	}
	&:hover {
		color: #B9E1F8;
	} 
}

.table {
	margin-right: 5px;
}

.btn-nav {
	color:#fff;
	background-color:#5D9CC7;
	border:0px solid #fff;
	margin-top:18px;
	&:hover {
		color:#B9E1F8;
	}
}

.back {
	margin-top:19px;
	margin-right:10px;
}
.btn-group {
	margin-top:-2px;
}

.navbar-btn, .btn-default {
	margin-top:6px;
}

.head-title {
	padding-top:5px;
}

.navbar-nav > li > a {
	color: #fff;
	&:hover {
		color: #B9E1F8;
	}
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #646464;
  font-size: 13px;
  line-height: 18px;
}

a {
  text-decoration:none;
  &:visited {
  	color: #0078ae;
  }
  &:hover {
  	color: #28ACD1;
    text-decoration:underline;
  }
}

#wrapper {
	width:960px;
	margin: 0 auto;
	text-align: left;
	padding:5px;
}

#padd {
	padding:5px;
}

.centering {
  float:none;
  margin:0 auto;
}

.field_with_errors {
  @extend .has-error;
}

#error_explanation {
  @extend .alert-message.error;
  @extend .block-message; 
  text-shadow:none;
  h2 {
    font-size:13px;
    line-height:18px;
    font-weight:bold;
    margin: 0;
  }
  h2, li {
    color:red;
  }
  a {
    @extend .alert-message.close;
  }
}

.errors {
  text-align:center;
  margin-top:10px;
  padding-bottom:0;
  margin-bottom:0;
}

/* #error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
} */

/* Form styling */

.form-signin {
  max-width:330px;
  padding:15px;
  margin:0 auto;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
  margin-bottom:10px;
}

.form-signin .checkbox {
  font-weight:normal;
}

/* Chart Stuff */

#chart_container {
        position: relative;
}
#chart {
        position: relative;
        left: 40px;
}

#x_axis {
	position: relative;
	left: 40px;
	height: 40px;
}

#y_axis {
        position: absolute;
        width: 40px;
}