// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight_on_hover:hover {
	color: #f0fa7e;
}

.header_login_info {
	border: 1px, dotted, #C9C7C8;
}

.center-text {
	text-align:center;
}

.inline {
	display: inline;
}